*{
    padding: 0%;
    margin: 0%;
    text-decoration: none;
    list-style: none;
}
body{
    font-family: 'Ubuntu', sans-serif;
}
nav{
    
    height: 5%;
    width: 100%;
    background: #ff00aa;
}
label.logo{
    font-size: 300%;
    font-style: italic;
    font-weight: bold;
    color: white;
    padding: 0px 100px;
    line-height: 80px;
}
 nav ul{
     float: right;
     margin-right: 300px;
 }
 ul li{
     display: inline-block;
     margin: 0px 20px;
     line-height: 80px;
 }
 nav a{
     color: white;
     font-size: 15px;
     border: 1px solid transparent;
     padding: 5px 10px;
     border-radius: 3px;
    
    
 }

a.activate,a:hover{
    border: 1px solid rgb(255, 255, 255);
    transform: .2s;
}
span{
    color: rgb(252, 0, 96);
    
}
h1{
    font-size: 30px;
}
p{
    margin: 40px 0px;
}
.button{
    text-decoration: white;
    background-image: linear-gradient(orange, tomato);
    background-color: rgb(46, 172, 221);
    color: white;
    font: 700;
    padding: 5px 10px;
    border-radius: 20px;

    
}

.first{
    display: flex;
}
.eating{
    
    margin: 50px 100px;
  
}
.eating img{
    width: 200%;
    border-radius: 5%;
    
    
}

.secound{
    display: flex;  
    background-image: url(image/Frame\ 57.jpg);
    height: 370px;
    background-repeat: no-repeat;
}


.about-me{
    
    margin: 50px 100px;
    padding-right: 180px;
}
.about-me img{

    width: 200px;
   margin: 50px 80px;
}
.recipie{
    text-align: center;
    padding: 20px;
}

.box{
    width: 1000px;
    display: flex;

    justify-content: space-around;
    margin: 0;
    margin: 0;
    top: 50%;
    left: 20%;
    
    transform: translate(-50%, -50%,);
   position: relative;


}
div.photo img{
    width: 200px;
    padding: 5px;
    
}
.photo{
    width: 300px;
    margin: 50px 50px;

    box-shadow: 10px 10px 30px 10px  gray;
    padding: 20px;
    border-radius: 5%;
    
    
}

.foot{

    text-align: center;
    height: 200px;
    width: 1000 2px;
    color: rgb(183, 221, 173);
    background-color: rgb(27, 27, 39);
    display: inline-flexbox;
    line-height: 70px;
   
    
}
.foot h1{
    color: magenta;
}
